In [1]:
import pandas as pd 
df1 = pd.read_csv('dframe_1.csv')
df2 = pd.read_csv('dframe_2.csv')
df3 = pd.read_csv('dframe_3.csv')

df1['T_sec'] = pd.to_datetime(df1["DateTime"]).dt.round('1s').dt.strftime('%Y-%m-%d %H:%M:%S:%f').str[:-4]
df2['T_sec'] = pd.to_datetime(df2["DateTime"]).dt.round('1s').dt.strftime('%Y-%m-%d %H:%M:%S:%f').str[:-4]
df3['T_sec'] = pd.to_datetime(df3["DateTime"]).dt.round('1s').dt.strftime('%Y-%m-%d %H:%M:%S:%f').str[:-4]

sec_list = df1['T_sec'].tolist()
sec_list = df2.loc[df2['T_sec'].isin(sec_list)]['T_sec'].tolist()
sec_list = df3.loc[df3['T_sec'].isin(sec_list)]['T_sec'].tolist()

df1 = df1.loc[df1['T_sec'].isin(sec_list)]
df2 = df2.loc[df2['T_sec'].isin(sec_list)]
df3 = df3.loc[df3['T_sec'].isin(sec_list)]

df1.to_csv('dframe_1_m.csv', sep='\t', encoding='utf-8')
df2.to_csv('dframe_2_m.csv', sep='\t', encoding='utf-8')
df3.to_csv('dframe_3_m.csv', sep='\t', encoding='utf-8')

In [2]:
import pandas as pd 

df = pd.read_csv('http://mis.nyiso.com/public/dss/nyiso_loads.csv')
df

,Year,Month,Day,Hr1,Hr2,Hr3,Hr4,Hr5,Hr6,Hr7,...,Hr16,Hr17,Hr18,Hr19,Hr20,Hr21,Hr22,Hr23,Hr24,Hr25
0,2021,1,1,15592,15016,14603,14358,14371,14611,15014,...,17598,18395,19006,18837,18516,18095,17560,16744,15854.0,NaN
1,2021,1,2,15101,14587,14212,14039,14031,14217,14703,...,16691,17597,18634,18597,18266,17855,17305,16529,15710.0,NaN
2,2021,1,3,14992,14511,14241,14074,14070,14301,14677,...,18323,18972,19655,19453,18967,18388,17612,16649,15728.0,NaN
3,2021,1,4,15021,14585,14341,14279,14522,15215,16498,...,18825,19432,20357,20127,19577,18879,17991,16891,15866.0,NaN
4,2021,1,5,15094,14619,14361,14293,14502,15227,16467,...,18974,19618,20416,20155,19615,18987,18094,17009,15982.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,2021,7,6,18274,17503,17002,16742,16764,17251,18262,...,27929,28115,27952,26793,25093,24136,23215,21880,20363.0,NaN
187,2021,7,7,19061,18114,17498,17060,16987,17369,18441,...,27809,28159,28270,27499,26360,25493,24697,23155,21643.0,NaN
188,2021,7,8,20369,19311,18505,17948,17753,18062,18896,...,24346,23853,23429,22782,22230,21829,21380,20411,19248.0,NaN
189,2021,7,9,18108,17363,16879,16627,16685,17185,18096,...,24089,24665,24823,24257,23390,22662,22101,20695,19320.0,NaN
190,2021,7,10,18150,17230,16576,16128,15903,15798,16038,...,20472,20951,21388,21380,20938,20437,19998,19107,18034.0,NaN